body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: purple;
}

a {
  color: #00B7FF;
}


.wrong {
  background-color: orange;
}

.right {
  background-color: green;
}

.win {

}

#game {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container {
  padding: 0px;
  margin: 0px;
}

#yeahBtn {
    position: absolute;
    top: 182px;
    left: 485px;
    background-color: purple;
    color: white;
    font-weight: 700;
}

#stopBtn {
    position: absolute;
    top: 306px;
    left: 483px;
    background-color: purple;
    color: white;
    font-weight: 700;
}

.noScroll {
  overflow: hidden;
}

#whoahBtn {
    position: absolute;
    left: 536px;
    top: 183px;
    background: purple;
    color: white;
    font-weight: 600;
}